<div class="template-view" id="view-leaderboard">
    <a href="#home" class="close-btn" aria-label="Close View">&times;</a>
    <h2>GLOBAL RANKINGS</h2>
    <div class="dash-block dash-hero">
        <h3 class="dash-hero-title-sm">
            TOP GEODASHERS
        </h3>
        <p id="leaderboard-cycle-title" class="dash-hero-subtitle-caps">
            CURRENT GAME CYCLE
        </p>
    </div>

    <!-- Game Summary View Trigger -->
    <div id="leaderboard-summary-container" class="summary-container d-none">
        <button id="btn-view-summary" class="btn btn-outline btn-summary">
            📖 READ GAME SUMMARY
        </button>
    </div>

    <!-- Leaderboard Table -->
    <div class="dash-block table-dash-block">
        <table class="data-table data-table-full">
            <thead>
                <tr class="table-header-row">
                    <th class="th-rank">#</th>
                    <th class="th-user">GEODASHER</th>
                    <th class="th-points">PT</th>
                    <th class="th-logs">LOGS</th>
                </tr>
            </thead>
            <!-- Rows injected by javascript -->
            <tbody id="leaderboard-tbody">
                <tr>
                    <td colspan="4" class="td-loading">
                        Loading leaderboard...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bottom padding -->
    <div class="content-spacer"></div>
</div>
